{% extends 'cover.twig' %}

{% block siteTitle %}You need password | Minur.co{% endblock %}

{% block main_body %}
    <div id="password-wrap" class="row">
        <h1>Please enter password</h1>

        <form action="{{ uri.request }}" method="post">
            <div class="form-group col-md-12">
                <div class="input-group">
                    <input type="password" name="password" class="form-control input-lg" id="entryUrl" placeholder="Enter password" autocomplete="off">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-check"></span> Go!</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
{% endblock %}